* {
  box-sizing: border-box; 
}
body {
  display: flex;
  min-height: 200px;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
  background: rgb(107, 138, 101);
}
#main > nav, 
#main > aside {
  flex: 0 0 18px;
  background: rgb(100, 143, 137);
}
#main > nav {
  order: -1;
}
header {
    display: flex; 
    min-height: 200px;
    flex-direction: row;
    margin: 0;
    background: yellowgreen;
  }
  header h1 {
    text-align: left;
  }

  header img {
    border: 5px solid black;
  }

footer {
  background: yellowgreen;
  height: 40px;
  text-align: center;
  border: 3px solid goldenrod;
  font-stretch: expanded;
}
header, footer, article, nav, aside {
  padding: 30px;
}
@media screen and (min-width: 450px) {
  #main {
    flex-direction: column;
    background-color: tan;
  }
}


/*
:root {
 var()
}

footer {
    font-stretch: expanded;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-content: center; 
}

*/